In [1]:
from bs4 import BeautifulSoup
import re
import requests
from sqlmodel import SQLModel, Field, create_engine, Session
from typing import Optional
import json

### Extraction and preprocessing functions
Firstly, I'll extract all columns from the [main page](https://en.wikipedia.org/wiki/List_of_highest-grossing_films) table using extract_highest_grossing_films.
Secondly, for each extracted row, I'll get additional info from film's page in wiki_page_link via extract_film_details.
Lastly, I'll combine data from two previous steps in Film object.

In [2]:
citations_pattern = re.compile("\[[0-9]+\]")
def preprocess_text(text):
    """
    Remove citations and newlines from text.
    """
    text = text.strip().replace('\n', ' ')
    text = citations_pattern.sub('', text)
    return text.strip()

In [3]:
def extract_highest_grossing_films(html_content):
    """
    Extract data from the Highest-grossing films table.
    
    Args:
        html_content (str): HTML content of the Wikipedia page
        
    Returns:
        list: List of dictionaries containing film data
    """
    # Parse HTML content
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Find the first table with class 'wikitable'
    table = soup.find('table', class_='wikitable')
    
    if not table:
        return []
    
    # Initialize list to store results
    films = []
    
    # Get headers
    headers = []
    header_row = table.find('tr')
    if header_row:
        for th in header_row.find_all('th'):
            # Clean header text
            header = th.text.strip().lower()
            # Convert to more readable column names
            header = header.replace('\n', ' ').replace('â™¦', '').strip()
            headers.append(header)
    
    # Process each row
    for row in table.find_all('tr')[1:]:  # Skip header row
        cols = row.find_all(['td', 'th'])
        
        if len(cols) >= len(headers):
            film_data = {}
            
            for i, col in enumerate(cols):
                # Extract text and clean it
                value = preprocess_text(col.text.strip())
                # Add to film data dictionary
                if i < len(headers):
                    film_data[headers[i]] = value
                
                wiki_page_link = row.find('i').find('a')
                if wiki_page_link:
                    film_data['wiki_page_link'] = wiki_page_link.get('href')
            
            films.append(film_data)
    
    return films

In [4]:
def extract_film_details(html_content):
    """
    Extract Box office, Country and Directed by information from a film's Wikipedia page.
    
    Args:
        html_content (str): HTML content of the Wikipedia page
        
    Returns:
        dict: Dictionary containing box_office, country, and director information
    """
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Initialize result dictionary
    result = {
        'box_office': None,
        'country': None,
        'director': None
    }
    
    # Find the infobox
    infobox = soup.find('table', class_='infobox')
    if infobox:
        # Extract data from infobox
        rows = infobox.find_all('tr')
        for row in rows:
            header = row.find('th')
            if header:
                header_text = header.get_text().strip().lower()
                
                # Extract country
                if 'country' in header_text or 'countries' in header_text:
                    value = row.find('td')
                    if value:
                        country_list = value.find('ul')
                        if country_list:
                            countries = [preprocess_text(li.get_text().strip()) for li in country_list.find_all('li')]
                        else:
                            countries = [preprocess_text(value.get_text().strip())]
                        result['country'] = countries
                
                # Extract director
                elif 'directed by' in header_text:
                    value = row.find('td')
                    if value:
                        # Check if there's a list of directors
                        director_list = value.find('ul')
                        if director_list:
                            # Extract directors from list items
                            directors = [preprocess_text(li.get_text().strip()) for li in director_list.find_all('li')]
                        else:
                            # Single director
                            directors = [preprocess_text(value.get_text().strip())]
                        result['director'] = directors
    
    return result

### Database design

In this assignment, I've used SQLModel ORM to create and interact with database

In [5]:
class Film(SQLModel, table=True):
    """
    A film from the highest-grossing films list with additional details
    """
    __tablename__ = "films"
    
    id: Optional[int] = Field(default=None, primary_key=True)
    title: str = Field(nullable=False)
    release_year: Optional[int] = Field(default=None)
    director: Optional[str] = Field(default=None)
    box_office: Optional[str] = Field(default=None)
    country_of_origin: Optional[str] = Field(default=None)

### Extraction and preprocessing

In [6]:
# Get the highest-grossing films list
films_list_page_response = requests.get("https://en.wikipedia.org/wiki/List_of_highest-grossing_films")
films_list_page_response.raise_for_status()
films_list_page = films_list_page_response.text

In [7]:
# Extract the films from the highest-grossing films list
films = extract_highest_grossing_films(films_list_page)

In [8]:
# Extract the additional details from the films and create a list of Film objects
processed_films = []

for film in films:
    film_page_response = requests.get(f"https://en.wikipedia.org{film['wiki_page_link']}")
    film_page_response.raise_for_status()
    film_page = film_page_response.text
    film_details = extract_film_details(film_page)
    processed_films.append(Film(
        title=film['title'],
        release_year=film['year'],
        box_office=film['worldwide gross'],
        country_of_origin=", ".join(film_details['country']),
        director=", ".join(film_details['director'])
    ))

### Save processed films to JSON for Frontend

In [9]:
film_dumps = [film.model_dump(exclude={"id"}) for film in processed_films]
with open("films.json", "w") as f:
    json.dump(film_dumps, f)

/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2009'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2019'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2022'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'1997'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2015'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2018'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2021'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2025'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2024'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2012'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2023'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2011'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2017'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2013'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2016'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2003'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2014'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2010'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'2006'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'1999'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
/Users/nikita/anaconda3/envs/rag_env/lib/python3.11/site-packages/pydantic/main.py:426: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` with value `'1993'` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(

### SQLite database creation and interaction
For this assignment, I've used SQLite as simple in-memory database that doesn't require any additional deployment.
Such decision accelerate prototyping and simplifies deployment.

In [10]:
# SQLite URL
SQLITE_URL = "sqlite:///./database.db"

# Create engine
engine = create_engine(
    SQLITE_URL,
    echo=True,  # Set to False in production
    connect_args={"check_same_thread": False}  # Needed for SQLite
)
SQLModel.metadata.drop_all(engine)
SQLModel.metadata.create_all(engine)

2025-02-19 13:35:22,331 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-19 13:35:22,332 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("films")
2025-02-19 13:35:22,332 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-19 13:35:22,333 INFO sqlalchemy.engine.Engine
DROP TABLE films
2025-02-19 13:35:22,333 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
2025-02-19 13:35:22,334 INFO sqlalchemy.engine.Engine COMMIT
2025-02-19 13:35:22,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-19 13:35:22,335 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("films")
2025-02-19 13:35:22,336 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-19 13:35:22,336 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("films")
2025-02-19 13:35:22,337 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-19 13:35:22,337 INFO sqlalchemy.engine.Engine
CREATE TABLE films (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	release_year INTEGER,
	director VARCHAR,
	box_office VARCHAR,
	country_of_origin VARCHAR,
	PRIMARY KEY (id)
)


2025-02-19 13:35:22,337 INFO sqlalchemy.engine.Engine [no key 0.00016s] ()
2025-02-19 13:35:22,338 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
with Session(engine) as session:
    session.add_all(processed_films)
    session.commit()

2025-02-19 13:35:22,342 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-19 13:35:22,344 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,344 INFO sqlalchemy.engine.Engine [generated in 0.00012s (insertmanyvalues) 1/50 (ordered; batch not supported)] ('Avatar', '2009', 'James Cameron', '$2,923,706,026', 'United Kingdom, United States')
2025-02-19 13:35:22,345 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,346 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/50 (ordered; batch not supported)] ('Avengers: Endgame', '2019', 'Anthony Russo, Joe Russo', '$2,797,501,328', 'United States')
2025-02-19 13:35:22,347 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,347 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/50 (ordered; batch not supported)] ('Avatar: The Way of Water', '2022', 'James Cameron', '$2,320,250,281', 'United States')
2025-02-19 13:35:22,347 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,348 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/50 (ordered; batch not supported)] ('Titanic', '1997', 'James Cameron', 'T$2,257,844,554', 'United States')
2025-02-19 13:35:22,348 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,348 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/50 (ordered; batch not supported)] ('Star Wars: The Force Awakens', '2015', 'J. J. Abrams', '$2,068,223,624', 'United States')
2025-02-19 13:35:22,349 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,349 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/50 (ordered; batch not supported)] ('Avengers: Infinity War', '2018', 'Anthony Russo, Joe Russo', '$2,048,359,754', 'United States')
2025-02-19 13:35:22,349 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,349 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/50 (ordered; batch not supported)] ('Spider-Man: No Way Home', '2021', 'Jon Watts', '$1,922,598,800', 'United States')
2025-02-19 13:35:22,350 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,350 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/50 (ordered; batch not supported)] ('Ne Zha 2 â€ ', '2025', 'Jiaozi', '$1,699,000,000', 'China')
2025-02-19 13:35:22,350 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,350 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/50 (ordered; batch not supported)] ('Inside Out 2', '2024', 'Kelsey Mann', '$1,698,863,816', 'United States')
2025-02-19 13:35:22,350 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,351 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/50 (ordered; batch not supported)] ('Jurassic World', '2015', 'Colin Trevorrow', '$1,671,537,444', 'United States')
2025-02-19 13:35:22,351 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,351 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/50 (ordered; batch not supported)] ('The Lion King', '2019', 'Jon Favreau', '$1,656,943,394', 'United States')
2025-02-19 13:35:22,352 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,352 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/50 (ordered; batch not supported)] ('The Avengers', '2012', 'Joss Whedon', '$1,518,815,515', 'United States')
2025-02-19 13:35:22,352 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,352 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/50 (ordered; batch not supported)] ('Furious 7', '2015', 'James Wan', '$1,515,341,399', 'United States China')
2025-02-19 13:35:22,353 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,353 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/50 (ordered; batch not supported)] ('Top Gun: Maverick', '2022', 'Joseph Kosinski', '$1,495,696,292', 'United States')
2025-02-19 13:35:22,353 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,353 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/50 (ordered; batch not supported)] ('Frozen 2', '2019', 'Chris Buck, Jennifer Lee', '$1,450,026,933', 'United States')
2025-02-19 13:35:22,354 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,354 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/50 (ordered; batch not supported)] ('Barbie', '2023', 'Greta Gerwig', '$1,447,038,421', 'United States, United Kingdom')
2025-02-19 13:35:22,354 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,355 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/50 (ordered; batch not supported)] ('Avengers: Age of Ultron', '2015', 'Joss Whedon', '$1,402,809,540', 'United States')
2025-02-19 13:35:22,355 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,355 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/50 (ordered; batch not supported)] ('The Super Mario Bros. Movie', '2023', 'Aaron Horvath, Michael Jelenic', '$1,362,566,989', 'United States')
2025-02-19 13:35:22,355 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,355 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/50 (ordered; batch not supported)] ('Black Panther', '2018', 'Ryan Coogler', '$1,347,280,838', 'United States')
2025-02-19 13:35:22,356 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,356 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/50 (ordered; batch not supported)] ('Harry Potter and the Deathly Hallows â€“ Part 2', '2011', 'David Yates', '$1,342,139,727', 'United Kingdom, United States')
2025-02-19 13:35:22,356 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,357 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/50 (ordered; batch not supported)] ('Deadpool & Wolverine', '2024', 'Shawn Levy', '$1,338,073,645', 'United States')
2025-02-19 13:35:22,357 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,357 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/50 (ordered; batch not supported)] ('Star Wars: The Last Jedi', '2017', 'Rian Johnson', '$1,332,539,889', 'United States')
2025-02-19 13:35:22,358 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,358 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/50 (ordered; batch not supported)] ('Jurassic World: Fallen Kingdom', '2018', 'J. A. Bayona', '$1,308,473,425', 'China, United States')
2025-02-19 13:35:22,358 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,358 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/50 (ordered; batch not supported)] ('Frozen', '2013', 'Chris Buck, Jennifer Lee', 'F$1,290,000,000', 'United States')
2025-02-19 13:35:22,359 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,359 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/50 (ordered; batch not supported)] ('Beauty and the Beast', '2017', 'Bill Condon', '$1,263,521,126', 'United States')
2025-02-19 13:35:22,359 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,359 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/50 (ordered; batch not supported)] ('Incredibles 2', '2018', 'Brad Bird', '$1,242,805,359', 'United States')
2025-02-19 13:35:22,360 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,360 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/50 (ordered; batch not supported)] ('The Fate of the Furious', '2017', 'F. Gary Gray', 'F8$1,238,764,765', 'United States, China')
2025-02-19 13:35:22,360 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,360 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/50 (ordered; batch not supported)] ('Iron Man 3', '2013', 'Shane Black', '$1,214,811,252', 'United States')
2025-02-19 13:35:22,361 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,361 INFO sqlalchemy.engine.Engine [insertmanyvalues 29/50 (ordered; batch not supported)] ('Minions', '2015', 'Pierre Coffin, Kyle Balda', '$1,159,444,662', 'United States')
2025-02-19 13:35:22,361 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,361 INFO sqlalchemy.engine.Engine [insertmanyvalues 30/50 (ordered; batch not supported)] ('Captain America: Civil War', '2016', 'Anthony RussoJoe Russo, Anthony Russo, Joe Russo', '$1,153,337,496', 'United States')
2025-02-19 13:35:22,361 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,362 INFO sqlalchemy.engine.Engine [insertmanyvalues 31/50 (ordered; batch not supported)] ('Aquaman', '2018', 'James Wan', '$1,148,528,393', 'United States')
2025-02-19 13:35:22,362 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,362 INFO sqlalchemy.engine.Engine [insertmanyvalues 32/50 (ordered; batch not supported)] ('The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', '$1,147,997,407', 'New Zealand, Germany, United States')
2025-02-19 13:35:22,363 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,363 INFO sqlalchemy.engine.Engine [insertmanyvalues 33/50 (ordered; batch not supported)] ('Spider-Man: Far From Home', '2019', 'Jon Watts', '$1,132,679,685', 'United States')
2025-02-19 13:35:22,363 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,363 INFO sqlalchemy.engine.Engine [insertmanyvalues 34/50 (ordered; batch not supported)] ('Captain Marvel', '2019', 'Anna BodenRyan Fleck', '$1,128,274,794', 'United States')
2025-02-19 13:35:22,364 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,364 INFO sqlalchemy.engine.Engine [insertmanyvalues 35/50 (ordered; batch not supported)] ('Transformers: Dark of the Moon', '2011', 'Michael Bay', '$1,123,794,079', 'United States')
2025-02-19 13:35:22,364 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,364 INFO sqlalchemy.engine.Engine [insertmanyvalues 36/50 (ordered; batch not supported)] ('Skyfall', '2012', 'Sam Mendes', '$1,108,594,137', 'United Kingdom, United States')
2025-02-19 13:35:22,365 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,365 INFO sqlalchemy.engine.Engine [insertmanyvalues 37/50 (ordered; batch not supported)] ('Transformers: Age of Extinction', '2014', 'Michael Bay', '$1,104,054,072', 'United States')
2025-02-19 13:35:22,365 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,366 INFO sqlalchemy.engine.Engine [insertmanyvalues 38/50 (ordered; batch not supported)] ('The Dark Knight Rises', '2012', 'Christopher Nolan', '$1,081,169,825', 'United States, United Kingdom')
2025-02-19 13:35:22,366 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,366 INFO sqlalchemy.engine.Engine [insertmanyvalues 39/50 (ordered; batch not supported)] ('Joker', '2019', 'Todd Phillips', '$1,074,458,282', 'United States')
2025-02-19 13:35:22,366 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,367 INFO sqlalchemy.engine.Engine [insertmanyvalues 40/50 (ordered; batch not supported)] ('Star Wars: The Rise of Skywalker', '2019', 'J. J. Abrams', '$1,074,144,248', 'United States')
2025-02-19 13:35:22,367 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,367 INFO sqlalchemy.engine.Engine [insertmanyvalues 41/50 (ordered; batch not supported)] ('Toy Story 4', '2019', 'Josh Cooley', '$1,073,394,593', 'United States')
2025-02-19 13:35:22,368 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,368 INFO sqlalchemy.engine.Engine [insertmanyvalues 42/50 (ordered; batch not supported)] ('Toy Story 3', '2010', 'Lee Unkrich', '$1,066,970,811', 'United States')
2025-02-19 13:35:22,368 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,368 INFO sqlalchemy.engine.Engine [insertmanyvalues 43/50 (ordered; batch not supported)] ("Pirates of the Caribbean: Dead Man's Chest", '2006', 'Gore Verbinski', '$1,066,179,747', 'United States')
2025-02-19 13:35:22,369 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,369 INFO sqlalchemy.engine.Engine [insertmanyvalues 44/50 (ordered; batch not supported)] ('Rogue One: A Star Wars Story', '2016', 'Gareth Edwards', '$1,057,420,387', 'United States')
2025-02-19 13:35:22,369 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,369 INFO sqlalchemy.engine.Engine [insertmanyvalues 45/50 (ordered; batch not supported)] ('Aladdin', '2019', 'Guy Ritchie', '$1,050,693,953', 'United States')
2025-02-19 13:35:22,370 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,370 INFO sqlalchemy.engine.Engine [insertmanyvalues 46/50 (ordered; batch not supported)] ('Moana 2 â€ ', '2024', 'David Derrick Jr., Jason Hand, Dana Ledoux Miller', '$1,049,975,621', 'United States')
2025-02-19 13:35:22,370 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,371 INFO sqlalchemy.engine.Engine [insertmanyvalues 47/50 (ordered; batch not supported)] ('Star Wars: Episode I â€“ The Phantom Menace', '1999', 'George Lucas', '$1,046,515,409', 'United States')
2025-02-19 13:35:22,371 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,371 INFO sqlalchemy.engine.Engine [insertmanyvalues 48/50 (ordered; batch not supported)] ('Pirates of the Caribbean: On Stranger Tides', '2011', 'Rob Marshall', '$1,045,713,802', 'United States')
2025-02-19 13:35:22,371 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,372 INFO sqlalchemy.engine.Engine [insertmanyvalues 49/50 (ordered; batch not supported)] ('Jurassic Park', '1993', 'Steven Spielberg', '$1,037,535,230', 'United States')
2025-02-19 13:35:22,372 INFO sqlalchemy.engine.Engine INSERT INTO films (title, release_year, director, box_office, country_of_origin) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-02-19 13:35:22,372 INFO sqlalchemy.engine.Engine [insertmanyvalues 50/50 (ordered; batch not supported)] ('Despicable Me 3', '2017', 'Pierre Coffin, Kyle Balda', '$1,034,800,131', 'United States')
2025-02-19 13:35:22,373 INFO sqlalchemy.engine.Engine COMMIT